<!-- templates/login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.0/firebase-auth.js"></script>
    <script>
      const firebaseConfig = {
        "apiKey": "AIzaSyCgFGjPfhajp4FhzZsyjOiP5Hv-XcvFDT0",
        "authDomain": "the-digital-diary-official.firebaseapp.com",
        "databaseURL": "https://YOUR_PROJECT_ID.firebaseio.com",
        "projectId": "the-digital-diary-official",
        "storageBucket": "the-digital-diary-official.appspot.com",
        "messagingSenderId": "727594357545",
        "appId": "1:727594357545:web:4bd7fcdab3594040355d38",
        "measurementId": "G-ZYJSFB04DF"
  
      };

      firebase.initializeApp(firebaseConfig);

      function loginWithGoogle() {
        var provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth().signInWithPopup(provider).then((result) => {
          result.user.getIdToken().then((idToken) => {
            fetch('/google_login/', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
              },
              body: JSON.stringify({ idToken: idToken })
            }).then(response => response.json()).then(data => {
              if (data.success) {
                window.location.href = '/';
              } else {
                alert('Login failed');
              }
            });
          });
        }).catch((error) => {
          console.error(error);
        });
      }
    </script>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label>Email:</label>
        <input type="email" name="email" required>
        <label>Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <button onclick="loginWithGoogle()">Login with Google</button>
    <a href="{% url 'register' %}">Don't have an account? Register</a>
</body>
</html>

