{% extends "base.html" %}
{% load static %}
{% block title %}
Blog | The Digital Diary
{% endblock %}
{% block content %}

  <!-- Main Banner  -->
  <div id="mainBanner" class="jumbotron jumbotron-fluid text-center" style="background-image: url('/static/images/img/desktop.png'); background-size: cover; background-position: center; color: white;">
    <div class="container" style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
      <h1 class="display-4">Welcome to The Digital Diary</h1>
      <p class="lead">Your go-to blog for the latest in digital trends and insights.</p>
    </div>
  </div>  
    <!--Post Section-->
    <div class="container">
        <h2>Popular Posts</h2>
        <div class="row">
            {% for post in popular_posts %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" height="200">
                    {% else %}
                    <img src="https://loremflickr.com/320/240/paris" class="card-img-top" alt="Default Image" height="200">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.short_description }}</p>
                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-outline-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        <!-- Pagination controls -->
        
       </div>
        <h1>Blog Posts</h1>
        <div class="row">
            {% for post in page_obj_latest %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" height="200">
                    {% else %}
                    <img src="https://loremflickr.com/320/240/brazil,rio" class="card-img-top" alt="Default Image" height="200">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.short_description }}</p>
                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-outline-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Pagination controls -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="prev" href="?page=1">&#10094;</a>
                        <a class="next" href="?page={{ page_obj.previous_page_number }}">&#10095;</a>
                    {% endif %}
    
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
    
                    {% if page_obj.has_next %}
                        <a class="prev" href="?page={{ page_obj.next_page_number }}" style="color: black; size: 4px; ">&#10094;</a>
                        <a class="next" href="?page={{ page_obj.paginator.num_pages }}" style="color: black; size: 4px; ">&#10095;</a>
                    {% endif %}
                </span>
            </div>
        </div>

    </div>
  
{% endblock %}
