{% extends "base.html" %}
{% load static %}
{% block title %}
{{ category.name }} | The Digital Diary
{% endblock %}
{% block content %}
<div class="container">
  <h1>Posts in {{ category.name }}</h1>
  <div class="row">
      {% if posts %}
          {% for post in posts %}
          <div class="col-md-4 mb-4">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">{{ post.title }}</h5>
                      <!--<p class="card-text">{{ post.content|truncatewords:20 }}</p>-->
                      <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read More</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      {% else %}
          <div class="col-12">
              <div class="alert alert-info" role="alert">
                  No posts available in this category.
                  Explore other <a href="{% url 'category_list' %}">Categories.</a>
              </div>
          </div>
      {% endif %}
  </div>
</div>
{% endblock %}
