{% extends "base.html" %}
{% load static %}
{% block title %}
Contact us | The Digital Diary
{% endblock %}
{% block content %}
  <!-- Main Banner -->
  <div id="mainBanner" class="jumbotron jumbotron-fluid text-center" style="background-image: url('/static/images/img/desktop.png'); background-size: cover; background-position: center; color: white;">
    <div class="container" style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
      <h1 class="display-4">Contact Us</h1>
      <p class="lead">Contact Us by filing the form or check out our address.</p>
    </div>
  </div>  
  



{% endblock %}
