{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Home | The Digital Diary{% endblock %}</title>
 <!--  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5"> -->
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<!--    <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">The Digital Diary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'category_list' %}">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'publish_post' %}">Publish</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <!-- Profile Dropdown -->
    {% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}/media/tdd.jpg{% endif %}" alt="Profile Picture" style="width: auto; height: 40px; border-radius: 50%;"> {{ user.username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
          <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
          <div class="dropdown-divider"></div>
          <form id="logout-form" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="dropdown-item">Logout</button>
          </form>
        </div>
      </li>
      {% else %}
      <p>You are not logged in</p><br>
      <a href="{% url 'login' %}?next={{ request.get_full_path }}">Log In</a>
      {% endif %}
    </ul>
  </div>
</nav>
  <!--Main Section
  <div id="mainBanner" class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Welcome to The Digital Diary</h1>
      <p class="lead">Your go-to blog for the latest in digital trends and insights.</p>
    </div>
  </div>-->

  <!-- Main Banner -->
   <!--   --> 
  <!-- Main Banner background-image: url('desktop.jpg'); -->
  <div id="mainBanner" class="jumbotron jumbotron-fluid text-center" style=" background-size: cover; background-position: center; color: white;">
    <div class="container" style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
      <h1 class="display-4">Welcome to The Digital Diary</h1>
      <p class="lead">Your go-to blog for the latest in digital trends and insights.</p>
    </div>
  </div>  
  
    <!--Post Section-->
    <div class="container">
      <h1>Blog Posts</h1>
      <div class="row">
          {% for post in latest_posts %}
          <div class="col-md-4">
              <div class="card mb-4">
                  {% if post.image %}
                  <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" height="200">
                  {% else %}
                  <img src="https://loremflickr.com/320/240/brazil,rio" class="card-img-top" alt="Default Image" height="200">
                  {% endif %}
                  <div class="card-body">
                      <h5 class="card-title">{{ post.title }}</h5>
                      <p class="card-text">{{ post.short_description }}</p>
                      <a href="{% url 'post_detail' post.pk %}" class="btn btn-outline-primary">Read More</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      <h2>Popular Posts</h2>
      <div class="row">
          {% for post in popular_posts %}
          <div class="col-md-4">
              <div class="card mb-4">
                  {% if post.image %}
                  <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" height="200">
                  {% else %}
                  <img src="https://loremflickr.com/320/240/paris" class="card-img-top" alt="Default Image" height="200">
                  {% endif %}
                  <div class="card-body">
                      <h5 class="card-title">{{ post.title }}</h5>
                      <p class="card-text">{{ post.short_description }}</p>
                      <a href="{% url 'post_detail' post.pk %}" class="btn btn-outline-primary">Read More</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>


  <!-- Categories Section -->
  <div class="container my-5">
    <h2 class="text-center mb-4">Categories</h2>
    <div class="row">
      {% for category in categories %}
      <div class="col-md-4 mb-4">
          <a href="{% url 'category_posts' category.pk %}" class="btn btn-outline-success btn-block">
              {{ category.name }}
          </a>
      </div>
      {% endfor %}
  </div>
</div>

    <!-- Subscription Box -->
    <div class="container my-5">
        <h2 class="text-center mb-4">Subscribe to Our Newsletter</h2>
        <form class="form-inline justify-content-center">
          <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Enter your email">
          <button type="submit" class="btn btn-outline-primary mb-2">Subscribe</button>
        </form>
      </div>
      <!-- Footer -->
    <footer class="jumbotron jumbotron-fluid  text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">The Digital Diary</h5>
          <p>
            Stay updated with the latest trends in the digital world. Follow us on social media and subscribe to our newsletter for more updates.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Quick Links</h5>
          <ul class="list-unstyled mb-0">
             <li>
              <a href="#" class="text-dark">Home</a>
            </li>
            <li>
              <a href="#" class="text-dark">About</a>
            </li>
            <li>
              <a href="#" class="text-dark">Blog</a>
            </li>
            <li>
              <a href="#" class="text-dark">Contact</a>
            </li> 
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Follow Us</h5>
          <ul class="list-unstyled">
            <li>  
              <a href="#" class="text-dark"><i class="fab fa-facebook-f mr-2"></i> Facebook</a>
            </li>
            <li>
              <a href="#" class="text-dark"><i class="fab fa-twitter mr-2"></i> Twitter</a>
            </li>
            <li>
              <a href="#" class="text-dark"><i class="fab fa-instagram mr-2"></i> Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3">
      © 2024 The Digital Diary. All rights reserved.
    </div>
  </footer>


 
</body>
</html>
