{% extends "base.html" %}
{% load static %}
{% block title %}
Home | The Digital Diary
{% endblock %}
{% block content %}
  <!-- Main Banner  -->
  <div id="mainBanner" class="jumbotron jumbotron-fluid text-center" style="background-image: url('/static/images/img/desktop.png'); background-size: cover; background-position: center; color: white;">
    <div class="container" style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
      <h1 class="display-4">Welcome to The Digital Diary</h1>
      <p class="lead">Your go-to blog for the latest in digital trends and insights.</p>
    </div>
  </div>   
    <!--Post Section-->
    <div class="container">
      <h1>Blog Posts</h1>
      <div class="row">
          {% for post in latest_posts %}
          <div class="col-md-4">
              <div class="card mb-4">
                  {% if post.image %}
                  <a href="{% url 'post_detail' post.pk %}" style="color: black; text-decoration: none;"><img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" height="200"></a>
                  {% else %}
                  <a href="{% url 'post_detail' post.pk %}" style="color: black; text-decoration: none;"><img src="https://loremflickr.com/320/240/brazil,rio" class="card-img-top" alt="Default Image" height="200"></a>
                  {% endif %}
                  <div class="card-body" style="height: 350px;">
                      <h5 class="card-title" ><a href="{% url 'post_detail' post.pk %}" style="color: black; text-decoration: none;">{{ post.title }}</a></h5>
                      <p class="card-text">{{ post.short_description }}</p>
                      <a href="{% url 'post_detail' post.pk %}" class="btn btn-outline-primary">Read More</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      <h2>Popular Posts</h2>
      <div class="row">
          {% for post in popular_posts %}
          <div class="col-md-4">
              <div class="card mb-4">
                  {% if post.image %}
                  <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" height="200">
                  {% else %}
                  <img src="https://loremflickr.com/320/240/paris" class="card-img-top" alt="Default Image" height="200">
                  {% endif %}
                  <div class="card-body" style="height: 350px;">
                      <h5 class="card-title">{{ post.title }}</h5>
                      <p class="card-text">{{ post.short_description }}</p>
                      <a href="{% url 'post_detail' post.pk %}" class="btn btn-outline-primary">Read More</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>


  <!-- Categories Section -->
  <div class="container my-5">
    <h2 class="text-center mb-4">Categories</h2>
    <div class="row">
      {% for category in categories %}
      <div class="col-md-4 mb-4">
          <a href="{% url 'category_posts' category.pk %}" class="btn btn-outline-success btn-block">
              {{ category.name }}
          </a>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}