{% extends "base.html" %}
{% load static %}
{% block title %}
{{ user.username }}'s Profile | The Digital Diary
{% endblock %}
{% block content %}


<div class="container">
    <h2 style="text-align: center;" >Profile</h2>

    
{% load crispy_forms_tags %}
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {{ u_form|crispy }}
        {% if user.profile.profile_picture %}
        <img src="{{ user.profile.profile_picture.url }}" alt="Profile" style="width: auto; height: 40px; border-radius: 50%;">
        {% else %}
        <img src="{% static 'images/tdd.jpg' %}" alt="Default Profile" style="width: auto; height: 40px; border-radius: 50%;">
        {% endif %}
        {{ p_form|crispy }}       
              
        <button type="submit" class="btn btn-primary">Update</button> </br>
        <p><a href="{% url 'password_change' %}" class="btn btn-primary" style="justify-content: center; margin-top: 2px;">Password Change</a></p>
    </form>
</div>
{% endblock %}
      
    <!-- <a href="{% url 'home' %}" style="justify-items: center;" class="btn btn-primary">Back to Home</a> -->

